.div-ButtonLogOut{
    padding-left: 75%;
}

.div-inf-profissional-principal{
    border: 1px solid #c4c400;
    background-color: #00000080;
    border-radius: 20px;
    margin: 40px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    height: auto;
    width: auto;
    margin-right: 200px;
    margin-left: 200px;
    box-shadow: 7px 7px 7px #999;
}

.div-inf-profissional-principal h1{
    text-align: center;
    color: #000;
    background-color: #c4c400;
    margin: 10px;
    border-radius: 10px;
    
}

.div-inf-profissional-principal .icon-perfil-profissional{
    margin-right: 10px;
}

.div-inf-profissional-principal strong{
    margin-right: 5px;
}

.div-inf-profissional-principal h2{
    margin-left: 10px;
}

.div-inf-profissional-principal p{
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
}

.button-alterar-dados-profissional button{
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background: #c4c400;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    transition: all ease 0.2s;
    cursor: pointer;
    margin-right: 20px;
    box-shadow: 7px 7px 7px #999;
}

.button-alterar-dados-profissional button:hover{
    background: #ffff00;
}

.buttons-profissional{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.button-adiciona-dados-profissional button{
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background: #c4c400;
    color: #000;
    font-weight: bold;
    font-size: 15px;
    transition: all ease 0.2s;
    cursor: pointer;
    margin-left: 20px;
    box-shadow: 7px 7px 7px #999;
}

.button-adiciona-dados-profissional button:hover{
    background: #ffff00;
}

.div-dados-worker{
    border: 1px solid #c4c400;
    background-color: #00000080;
    border-radius: 20px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    height: auto;
    width: auto;
    margin-right: 200px;
    margin-left: 200px;
    box-shadow: 7px 7px 7px #999;
}

.div-dados-worker h1{
    text-align: center;
    color: #000;
    background-color: #c4c400;
    margin: 10px;
    border-radius: 10px;
}

.div-dados-worker p{
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
}

.div-dados-worker .icon-perfil-profissional{
    margin-right: 10px;
}

.div-dados-worker strong{
    margin-right: 5px;
}

.link-button-adiciona-perfil-prof{
    text-decoration: none;
    color: #000;
}