.div-principal{
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
}

.div-left{
    position: sticky;
    width: 50%;
    height: 100vh;
    left: 0;
    bottom: 0;
    background-color: #FECB01;
    color: #000;
    font-size: 30px;
}

.button-home{
    background: #FECB01;
    border: solid 2px #000;
    border-radius: 5px;
    left: 0;
    position: absolute;
    margin: 20px;
    transition: all ease 0.2s;
    cursor: pointer;
}

.button-home:hover{
    background: #cca300;
    color: #000;
}

.div-right{
    background-color: #333;
    position: relative;
    width: 50%;
    height: 100vh;
    right: 0;
}

.div-inf{
    padding-top: 30%;
}

.div-inf strong{
    font-size: 40px;
}

.div-inf p {
    font-size: 20px;
}

.div-button button{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    background: #FECB01;
    border: 3px solid #000;
    box-sizing: border-box;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease 0.3s;
   
}

.div-button button:hover{
    background-color: #cca300;
    color: #000;
}

.link-button{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.link-button:hover{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.div-title{
    width: auto;
    padding: 0;
    margin-top: 80px;
    color: #FECB01;
    font-size: 50px;
    font-weight: bold;
}

.div-icons{
    display: inline-flex;
}

.div-icons img{
    width: 50px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
}

.div-right p {
    color: #fff;
}

.icon-name{

    color: #000;
    padding-right: 10px;
}


input{
    width: 400px;
    padding-top: 10px;
    margin-top: 25px;
    border: 0 none;
    border-radius: 5px;
    border-bottom: 2px solid #000 ;
}

.div-button-right{
    margin-top: 40px;
}

.div-button-right button{
    font-size: 18px;
    font-weight: bold;
    color: #000;
    background: #FECB01;
    width: 230px;
    height: 35px;
    border: none 0 ;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.3s;
    box-shadow: 7px 7px 7px #000;
}

.div-button-right button:hover{
    background-color: #000;
    color: #FECB01;
}

.input-radio{
    width: 10px;
}

.form-register-user .label-register-user{
    display: inline;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    color: #000;;
}

.form-register-user .select-login{
    width: 400px;
    margin-top: 25px;
    border: 0 none;
    border-bottom: 2px solid #000 ;
}


