.div-ButtonLogOut{
    padding-left: 75%;
}

.div-inf-client-principal{
    border: 1px solid #c4c400;
    background-color:#00000080;
    border-radius: 20px;
    margin: 40px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    height: auto;
    width: auto;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 75px;
    box-shadow: 7px 7px 7px #999;
}

.div-inf-client-principal h1{
    text-align: center;
    color: #000;
    background-color: #c4c400;
    margin: 10px;
    border-radius: 10px;
    
}

.div-inf-client-principal h2{
    margin-left: 10px;
}

.div-inf-client-principal p{
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
}

.div-inf-client-principal .icon-perfil-cliente{
    margin-right: 10px;
}

.div-inf-client-principal strong{
    margin-right: 5px;
}

.button-alterar-dados-client{
    text-align: center;
    margin-bottom: 75px;
    margin-right: 10px;
}

.button-alterar-dados-client button{
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background: #c4c400;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    transition: all ease 0.2s;
    cursor: pointer;
    box-shadow: 7px 7px 7px #999;
}

.button-alterar-dados-client button:hover{
    background: #ffff00;
    color: #000;
}

.link-button-altera-perfil{
    text-decoration: none;
    color: #000;
}

.button-list-workers{
    text-align: center;
    margin-bottom: 75px;
    margin-left: 10px;

}

.button-list-workers button{
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background: #c4c400;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    transition: all ease 0.2s;
    cursor: pointer;
    box-shadow: 7px 7px 7px #999;
}

.button-list-workers button:hover{
    background: #ffff00;
    color: #000;
}

.link-button-list-workers{
    text-decoration: none;
    color: #000;
}

