@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

.div-imagem{
    background-image: url('../../img/img-home.png');
    width: 100%;
    height: 416px ;
}

.div-info{
    display: flex;
    position: relative;
    width: 60%;
    height: 80%;
    top: 40px;
    bottom: 40px;
    float: right;
    background: rgba(0, 0, 0, 0.5);
}

.logo{
    position: relative;
    background: #3AB0A2;
    width: 350px;
    height: 200px;
    margin: 65px;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    align-items: center;
}

.logo h1{
    position: relative;
    font-family: 'Saira Stencil One', cursive;
    font-size: 120px;
    bottom: 70px;
}


.info-site{
    text-align: center;
    font-weight: bold;
    position: relative;
    color: #ffffff;
    float: right;
    height: 100%;
    top: 50px;
    right: 20px;
    font-size: 30px;
}

.button-register{
    background-color:#3AB0A2 ;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    width: 250px;
    border-radius: 20px;
    cursor: pointer;
    border: #3AB0A2;
    transition: all ease 0.2s;
}

.button-register:hover{
    background-color:#276e66
}

.link-register{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}



