.div-button-log-out{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.button-log-out{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: all ease 0.2s;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    border: none;
    background: none;
    cursor: pointer;
}

.button-log-out:hover{
    color: #ccc;
}