.div-principal-destaques {
    text-align: center;
    background: #0000004d;
    margin: 10px;
    border-radius: 20px;
    border: solid 2px;
    border-color: #ffff00;
    height: auto;
    box-shadow: none;
    margin-bottom: 25px;
    box-shadow: 0px 8px 5px #ccc;
}

.div-principal-destaques h2 {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 10px;
    color: #ffffff;
}

.div-card-workers {
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
}

.div-destaques {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    background: #00000000;
    top: 0;
    margin: 15px;
    outline: none;
}

.div-contate {
    display: inline-flexbox;
    align-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #0000004d;
    border-radius: 10px;
    border: solid 1px;
    border-color: #ffff00;
    width: 85%;
    margin-left: 10px;
}

.div-contate h3 {
    margin: 0;
    margin-top: -10px;
}

.div-contate h4 {
    margin: 0;
    margin-top: 5px;
}

.div-contate button {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
    height: 25px;
    background-color:  #c4c400;
    transition: all ease 0.2s;
    color: #c4c400;
}

.div-contate button:hover {
    background-color: #ffff00;
}

.wrapper {
    width: 100%;
    max-width: 100%;
}

.carousel {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    height: 0;
}

.prev, .next {
    display: inline-flex;
    align-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: #000;
    color: #fff;
    transition: all ease 0.2s;
    cursor: pointer;
}

.prev:hover, .next:hover {
    background-color: #ccc;
}

.div-slider {
    width: 100%;
}

.link-workers {
    text-decoration: none;
    color: #000;
}